@model RoleVM

<form method="post" asp-action="Add">
    <div class="input-group" mt-2">
        <input class="form-control" asp-for="Name" />
        <div class="input-group_append">
            <button type="submit" class="btn btn-success">Add New Role</button>
        </div>
    </div>
</form>

